get:
  tags:
    - Configurations
  summary: List system configurations
  operationId: listConfigurations
  parameters:
    - in: query
      name: search
      schema:
        type: string
      description: Search by key
    - in: query
      name: page
      schema:
        type: integer
        default: 1
    - in: query
      name: limit
      schema:
        type: integer
        default: 20
    - in: query
      name: sortBy
      schema:
        type: string
      description: Field to sort by
    - in: query
      name: order
      schema:
        type: string
        enum: [asc, desc]
        default: asc
      description: Sort order
  security:
    - cookieAuth: []
    - apiKeyAuth: []
  responses:
    '200':
      description: List of configurations
      content:
        application/json:
          schema:
            type: object
            required:
              - data
              - pagination
            properties:
              data:
                type: array
                items:
                  $ref: '../schemas/Configuration.yaml'
              pagination:
                $ref: '../../../common/components/schemas/Pagination.yaml'
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '../../../common/components/schemas/Error.yaml'
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '../../../common/components/schemas/Error.yaml'
post:
  tags:
    - Configurations
  summary: Create a configuration
  operationId: createConfiguration
  security:
    - cookieAuth: []
    - apiKeyAuth: []
  requestBody:
    required: true
    content:
      application/json:
        schema:
          $ref: '../schemas/Configuration.yaml'
  responses:
    '201':
      description: Configuration created
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '../schemas/Configuration.yaml'
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '../../../common/components/schemas/Error.yaml'
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '../../../common/components/schemas/Error.yaml'
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '../../../common/components/schemas/Error.yaml'
