type: object
required:
  - key
  - value
properties:
  key:
    type: string
    minLength: 1
    maxLength: 100
    pattern: '^[A-Z0-9_]+$'
    readOnly: true
  value:
    type: string
    maxLength: 5000
